<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<bean id="some1" class="Some">
	<property name = "name">
	<value>matrix</value>
	</property>
    </bean>
    <bean id = "some2" class = "Some">
    <property name = "name">
    <value>lhxz</value>
    </property>
    </bean>
    <bean id = "someBean" class = "SomeBean">
    <property name= "someArray">
    <list>
    <value>I love</value>
    <value>apples.</value>
    </list>
    </property>
    <property name = "someObjectArray">
    <list>
    <ref bean = "some1"/>
    <ref bean = "some2"/>
    </list>
    </property>
    <property name = "someList">
    <list>
    <value>ListTest</value>
    <ref bean = "some1"/>
    <ref bean = "some2"/>
    </list>
    </property>
    <property name = "someMap">
    <map>
    <entry key = "MapTest">
    <value>hello map!</value>
    </entry>
    <entry key = "someKey1">
    <ref bean = "some1"/>
    </entry>
    </map>
    </property>
    </bean>
</beans>